{% extends 'index.html' %}
{% block content %}
<main>
{% include 'header.html' %}
{% load static %}
    <div class="container">
        <div class="row pt-5">
            <div class="card products col-xl-5" style="margin: 1%; padding-top:1%;">
                <div class="text-center">
                    <h3 class="text-center">{{ workoutCount }}</h3>
                </div>
                <h3 class="text-center">Количество тренировок</h3>
                <div class="card-body text-center">
                    <p><img src="{% static 'workout.png' %}" alt="workout"></p>
                    <a href="{% url 'workouts' %}">Перейти к тренировкам</a>
                </div>
            </div>
            <div class="card products col-xl-5 " style="margin: 1%; padding-top:1%;">
                <div class="text-center">
                    {% if date_workout %}
                    <h3 class="text-center">{{ date_workout }}</h3>
                    {% else %}
                    <h3 class="text-center">Ближайших тренировок не найдено</h3>
                    {% endif %}
                </div>
                <h3 class="text-center">Ближайшая тренировка</h3>
                <div class="card-body text-center">
                    <p><img src="{% static '24-hours.png' %}" alt="hours"></p>
                    <a href="">Посмотреть тренировку</a>
                </div>
            </div>
            <div class="card products col-xl-5 " style="margin: 1%; padding-top:1%;">
                <div class="text-center">
                    {% if distance_sum %}
                        <h3 class="text-center">{{ distance_sum }} km</h3>
                    {% else %}
                        <h3 class="text-center">0 km</h3>
                    {% endif %}
                </div>
                <h3 class="text-center">Дистанция пробежек</h3>
                <div class="card-body text-center">
                    <p><img src="{% static 'sprinter.png' %}" alt="sprinter"></p>
                    <a href="{% url 'runs' %}">Перейти к пробежкам</a>
                </div>
            </div>
            <div class="card products col-xl-5" style="margin: 1%; padding-top:1%;">
                <div class="text-center">
                    {% if date_run %}
                    <h3 class="text-center">{{ date_run }}</h3>
                    {% else %}
                    <h3 class="text-center">Ближайших пробежек не найдено</h3>
                    {% endif %}
                </div>
                <h3 class="text-center">Ближайшая пробежка</h3>
                <div class="card-body text-center">
                    <p><img src="{% static '24-hours.png' %}" alt="hours"></p>
                    <a href="">Посмотреть пробежку</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}


