{% extends 'index.html' %}
{% block title %}Ваши тренировки{% endblock %}
{% block content %}
{% include 'header.html' %}
<main>
    <div class="row pt-4 header-workouts">
        <div class="col text-center">
            <h3>Ваши тренировки</h3>
        </div>
        <div class="col">
            <a href="{% url 'add-workout' %}"><button class="btn btn-primary btn-add-run">Добавить тренировку</button></a>
        </div>
    </div>
    <div class="container">
        <div class="row pt-5">
            {% if not object_list %}
                <div class="col-12 text-center">
                    <h3>Тренировки не найдены</h3>
                </div>
            {% endif %}
            {% for workout in object_list  %}
                    <div class="card queryset col-xl-12" style="margin: 1%; padding-top:1%;">
                        <div class="text-center">
                            <a href="{% url 'workout_detail' workout.pk %}" class="text-center">{{ workout.date }}</a>
                            <a href="{% url 'delete-workout' workout.pk %}"><button class="btn btn-danger delete float-right" type="submit">Удалить</button></a>
                            <a href="{% url 'edit-workout' workout.pk %}"><button class="btn btn-secondary edit float-right" type="submit">Изменить</button></a>
                        </div>
                        <div class="card-body text-center">
                            <p>Описание: {{ workout.description }}</p>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="row justify-content-center">
                <div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="/workouts?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for num in paginator.page_range %}
                                {% if num == page_obj.number %}
                                    <li class="page-item active"><a class="page-link" href="">{{ num }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="/workouts?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="/workouts?page={{ page_obj.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}