{% extends 'index.html' %}
{% block title %}Ваши тренировки{% endblock %}
{% block content %}
{% include 'header.html' %}
<main>
    <div class="container">
        <div class="row pt-3 header-workouts">
            <div class="col-8">
                <h3>Ваши тренировки</h3>
            </div>
            <div class="col-3">
                <a href="{% url 'add-workout' %}"><button class="btn btn-primary">Добавить тренировку</button></a>
            </div>
        </div>
        <div class="row pt-5">
            {% for workout in object_list  %}
            <div class="card products col-xl-12" style="margin: 1%; padding-top:1%;">
                <div class="text-center">
                    <a href="{% url 'workout_detail' workout.pk %}" class="text-center">{{ workout.date }}</a>
                </div>
                <h3 class="text-center">Удалить/Изменить</h3>
                <div class="card-body text-center">
                    <p>{{ workout.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}