{% extends 'index.html' %}
{% block title %} Вход {% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="title">Workout Tracker</h3>
        </div>
        <div class="row justify-content-center">
            <div class="card col-10 col-xl-4 col-md-7 col-lg-6">
                <div class="card-body">
                    <h2>Вход</h2>
                    <form method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form }}
                         </div>
                        <button class="btn btn-success" id="signin" type="submit">Войти</button>
                        <p>Нет аккаунта?<a href="{% url 'signup' %}"> Зарегистироваться</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

